.section        
    .section-body    
        .sidebar.category-sidebar
            .mobile-overlay
            .click-outside.remove-from-parent
                .sidebar-header
                    h2.sidebar-title CATEGORY
                .sidebar-body
                    ul.accordion-container
                        -for(let i = 0;i < 3;i++)
                            li.accordion
                                button(type = 'button').accordion-btn.toggle-parent
                                    span.icon.plus.fa.fa-plus
                                    span.icon.minus.fa.fa-minus
                                .accordion-header
                                    h3.accordion-title 
                                        a(href = '#') 
                                            |Fashion
                                            span.status.green New
                                .accordion-body
                                    ul.list-style
                                        each val in ['WOMEN Clothes', 'MEN Clothes', 'Shoes']
                                            li.ls-item
                                                a(href = '#')= val
                            li.accordion
                                button(type = 'button').accordion-btn.toggle-parent
                                    span.icon.plus.fa.fa-plus
                                    span.icon.minus.fa.fa-minus
                                .accordion-header
                                    h3.accordion-title 
                                        a(href = '#') 
                                            |Fashion
                                .accordion-body
                                    ul.list-style
                                        each val in ['WOMEN Clothes', 'MEN Clothes', 'Shoes']
                                            li.ls-item
                                                a(href = '#')= val
                            li.accordion
                                button(type = 'button').accordion-btn.toggle-parent
                                    span.icon.plus.fa.fa-plus
                                    span.icon.minus.fa.fa-minus
                                .accordion-header
                                    h3.accordion-title 
                                        a(href = '#') 
                                            |Fashion
                                            span.status.red Hot
                                .accordion-body
                                    ul.list-style
                                        each val in ['WOMEN Clothes', 'MEN Clothes', 'Shoes']
                                            li.ls-item
                                                a(href = '#')= val
