footer
    .container
        .store-features
            .row
                -var titles = ['FREE SHIPPING & RETURN', 'MONEY BACK GUARANTEE', 'ONLINE SUPPORT 24/7'];
                -var desc = ['Free shipping on all orders over $99', '100% money back guarantee', 'Highly customer satisfaction'];
                -for(var i = 0;i < 3;i++)
                    .col-sm-4.col-xs-12.feature
                        h4.title= titles[i]
                        p.description= desc[i]
        .row
            .col-md-3.col-sm-4.col-xs-6.footer-col
                h4.col-title CONTACT INFORMATION
                ul.footer-list
                    -for(var i = 0;i < 4;i++)
                        li.list-item 123 Shopo Studio

            .col-md-3.col-sm-4.col-xs-6.footer-col
                h4.col-title COLLECTION
                ul.footer-list
                    -for(var i = 0;i < 4;i++)
                        li.list-item
                            a(href = '#') FASHION
            .col-md-3.col-sm-4.col-xs-6.footer-col
                h4.col-title MY ACCOUNT
                ul.footer-list
                    -for(var i = 0;i < 4;i++)
                        li.list-item
                            a(href = '#') My Account
            .clearfix.visible-xs
            .col-md-3.col-sm-6.col-xs-12.footer-col.newsletter-col
                h4.col-title NEWSLETTER
                p.description Signup for our newsletter
                form.footer-newsletter-form
                    .form-input
                        input(type="text" placeholder="Your Email" required).email-btn
                        input(type="submit" value="GO").submit-btn
                ul.social-media
                    -var socialMedia = ['facebook', 'twitter', 'linkedin'];
                        -for(var i = 0;i < 3;i++)
                            li.item
                                a(href="#")
                                    span(class = `icon fa fa-${socialMedia[i]}`)
    .copyrights-row
        .container
            p.paragraph
                |Online &copy; 2017. All Rights Reserved
            .supported-payments
                img(src="assets/images/footer/img-1.png", alt="payment photo" draggable="false")