header
    .container
        .logo.img-ratio
            .ratio.half-square
            .ratio-inner
                img(src="assets/images/logo.png", alt="Logo" draggable = 'false')
        .mobile-view
            .currency-dropdown.list-holder.dropdown-select
                label.selected-item
                    span.item-text 
                    span.icon.fa.fa-sort-down
                ul.list
                    each val in ['USD', 'EUR', 'GBP']
                        li.list-item
                            a(href="#")= val
            .lang-dropdown.list-holder.dropdown-select
                label.selected-item
                    span.item-text 
                    span.icon.fa.fa-sort-down
                ul.list
                    each val in ['ENG', 'FRENCH', 'AR']
                        li.list-item
                            a(href="#")= val
            .dropdown-menu.dropdown-links.click-outside
                button(type = 'button').menu-btn.toggle-parent
                    span.btn-text LINKS
                    span.icon.fa.fa-sort-down
                ul.list
                    each val in ['Sign In', 'Daily deal', 'Blog']
                        li.list-item
                            a(href="#")= val
        .right-side.pull-right
            a(href="#" class = 'signin-btn') SIGN IN
            .cart
                a(href="#").cart-icon
                    span.cart-count 0
                    span.fa.fa-shopping-cart
                .cart-content
                    //- p.paragraph.no-content.text-center
                    //-     |You have no items in your shopping cart.
                    .cart-items
                        ul.items-list
                            -for(let i = 1;i < 3;i++)
                                li.item.act-table
                                    .item-img-cell.img-ratio.act-table-cell.vertical-top
                                            .ratio.cart-item                            
                                            a(href="#").ratio-inner
                                                img(src="assets/images/cart/img-1.jpg", alt="item photo" draggable = 'false' class = 'item-img')
                                    .item-content-cell.act-table-cell.vertical-top
                                        h4.item-title
                                            a(href="#") BASKET
                                        p.paragraph
                                            span.item-count 1
                                            span.x x
                                            span.item-price $10.00
                                        button(type = 'button' class = 'close-btn')
                                            span.icon.fa.fa-times
                    .cart-footer
                        p.paragraph.cart-total.text-center
                            |TOTAL : 
                            span.black $60.00
                        .cart-actions
                        -let btnText = ['View cart', 'Checkout'];
                            .row.no-margin
                                -for(let j = 0;j < 2;j++)
                                    .action.col-xs-6.no-padding
                                        a(href="#").btn.text-center= btnText[j]
            .other-links.list-holder
                span.icon.fa.fa-bars
                ul.list
                    each val in ['Daily deal', 'Blog']
                        li.list-item
                            a(href="#")= val
        .search.click-outside
            button(type = 'button' class = 'toggle-search toggle-parent')
                    span.icon.fa.fa-search
            form.search-form
                button(type = 'submit' class = 'submit-btn')
                    span.icon.fa.fa-search
                input(type="text" placeholder = 'SEARCH')
        button(type = 'button').category-sidebar-btn.pull-right.fa.fa-bars.click-outside-btn