.section  
    .section-body
        .main-slider.slider
            .slider-banner
                -for(let j = 0;j < 11;j++)
                    .slider-item
                        .slide-image.img-ratio
                            .ratio.main-slider-ratio
                            .ratio-inner
                                .content
                                    h3.title 
                                        |VINTAGE #{j}
                                        br 
                                        |STYLEFURNITURES
                                    a(href = '#').link shop now
                                img(src="assets/images/main-slider/img-slider-1.png", alt="slide-1" draggable = 'false')
            .slider-controllers
                button(type = 'button').icon.prev.fa.fa-angle-left
                button(type = 'button').icon.next.fa.fa-angle-right
