.section.most-wanted-section
    .section-header
        h2.section-title MOST WANTED
    .section-body
        .most-wanted-slider.slider
            .slider-banner
                -for(let j = 0;j < 12;j++)
                    .slider-item
                        a(href = '#')
                            img(src="assets/images/most-wanted/img-1.png", alt="image")
            .slider-controllers
                button(type = 'button').icon.prev.fa.fa-angle-left
                button(type = 'button').icon.next.fa.fa-angle-right