.section.newsletter-section
    .section-header
        h2.section-title NEWSLETTER
        p.section-description
            |Enter your email address below to subscribe to my newsletter
    .section-body
        form.newsletter-form
            .input-container.icon-right
                span.icon.fa.fa-envelope-o
                input(type="email" placeholder="Email Address" required)
            .input-container
                button(type="submit").submit-btn.line Subscribe Now