.section
    .section-body
        .offer-slider.slider
            .slider-banner
                -for(let j = 0;j < 9;j++)
                    .slider-item
                        .slide-image.img-ratio
                            .ratio.offer-ratio
                            .ratio-inner
                                .content
                                    p.paragraph
                                        |Brown 
                                        br
                                        |Women Shoes
                                    a(href = '#') Shop Now
                                img(src="assets/images/offer-slider/offer.png", alt="slide-1" draggable = 'false')