if(smallTheme)
    -var smallThemeClass = 'small-theme';
else
    -var smallThemeClass = '';
.product-card(class= smallThemeClass)
    .card-img
        .img-ratio
            .ratio.cart-item
            .ratio-inner
                img.main-img(src="assets/images/product/product-3.jpg", alt="product image" draggable='false')
                img.hover-img(src="assets/images/product/product-3.jpg", alt="product image" draggable='false')
    .card-content
        h3.card-title
            a(href = '#') Basket
        .rate
            -for(let n = 0;n < 5;n++)
                span.icon.fa.fa-star-o
        p.price $30.00