.section.feature-products
    .section-header
        h2.section-title Featured Product
    .section-body
        .product-slider
            .slider-banner
                -for(let j = 0;j < 12;j++)
                    .slider-item
                        include ./product-card
            .slider-controllers
                button(type = 'button').icon.prev.fa.fa-angle-left
                button(type = 'button').icon.next.fa.fa-angle-right