.section.testmonial-section
    .section-body
        .slider-plugin.testmonial-slider
            .slider-banner
                -for(let i = 0; i <= 2;i++)
                    .slider-item
                        .testmonial-card
                            .user-img.image-ratio
                                .ratio
                                .ratio-inner
                                    img(src="assets/images/testmonial/img-1.jpg", alt="testmonial img")
                            h4.user-name John Smith
                            h6.user-job-title CEO &amp; Founder Okler
                            p.paragraph
                                |Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        