<!DOCTYPE html>
html(lang="en")
    head
        include ./partials/head
    body
        include ./partials/header
        .container
            .row
                .col-md-3
                    include ./partials/category-sidebar
                .col-md-9.col-xs-12
                    include ./partials/main-slider
            .row.row-section
                .col-md-9.col-xs-12.col-md-push-3
                    include ./partials/products-slider
                    include ./partials/home-collection
                    .row
                        .col-sm-8.col-xs-12
                            include ./partials/best-seller
                            include ./partials/sale
                        .col-sm-4.col-xs-12
                            include ./partials/most-wanted
                .col-md-3.col-xs-12.col-md-pull-9
                    include ./partials/offer-slider
                    include ./partials/newsletter
                    include ./partials/testmonial
        include ./partials/footer
        include ./partials/footer-script