.accordion-container {
    .accordion {
        position: relative;
        margin-bottom: 20px;
        .accordion-btn {
            position: absolute;
            top: 0;
            right: 0;

            font-size: 13px;
            opacity: .5;
            line-height: 1;
            transition: opacity .25s;
            .minus {
                display: none;
            }
        }
        .accordion-header{
            .accordion-title {
                color: $txt-gray-dark;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 13px;
                margin: 0;
                .status {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    height: 15px;
                    margin-left: 10px;
                    padding: 0 5px;
                    border-radius: 2px;

                    background-color: $txt-black;
                    color: #fff;
                    line-height: 15px;
                    font-size: 8px;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 100%;
                        margin-top: -4px;
                        display: inline-block;
                        border-right: 4px solid $txt-black;
                        border-top: 4px solid transparent;
                        border-bottom: 4px solid transparent;
                        
                    }
                    &.red {
                        background-color:$pink;
                        &::before {
                            border-right-color: $pink;
                        }
                    }
                    &.green {
                        background-color:$green;
                        &::before {
                            border-right-color: $green;
                        }
                    }
                }     
            }
        }
        .accordion-body{
            padding: 0;
            display: none;
            padding-left: 15px;
            transition: padding-top .3s, padding-bottom .3s;
        }
        &.active {
            .accordion-btn {
                .minus {
                    display: block;
                }
                .plus {
                    display: none;
                }
            }
            .accordion-body {
                padding-top: 15px;
                padding-bottom: 15px;
                transition: none;
            }
        }
        &:hover {
            .accordion-btn {
                opacity: 1;
            }
        }
    }
}