$txt-gray: #a4abae;
$txt-gray-dark:#535360;
$txt-black: #333;
$orange:#dc9831;
$orange-light: lighten($orange, 2%);
$dark-blue:#262634;
$light-grey:#f4f4f4;
$light-grey-2:#989898;
$pink:#eb2771;
$green:#0cc485;
$black:#151515;
$brown:#7E6F5C;
$dark-brown:#AE8C6A;
$grey-brown:#908B82;
$grey-blue:#717179;
$grey-red:#DADADA;
.black {
    color: $txt-black;
}