footer {
    background-color: #121214;
    @media(min-width: 768px){
        margin-top: 60px;
    }
    .store-features {
        background-color: #363636;
        text-align: center;
        margin-bottom: 30px;
        @media(min-width: 768px){
            margin-top: -41px;
        }
        > .row {
            margin-right: 0;
            margin-left: 0;
        }
        .feature {
            padding: 20px 0;
            &:not(:last-child){
                border-bottom: 1px solid #121214;
            }
            .title {
                font-family: $seconed-font;
                font-weight: 400;
                font-size: 14px;
                letter-spacing: 1.5px;
                color: $grey-red;
                margin-top: 0;
                margin-bottom: 5px;
            }
            .description {
                color: #A5A5A5;
                font-size: 12px;
                letter-spacing: .5px;
                font-weight: 300;
                margin: 0;
            }
            @media(min-width:768px){
                &:not(:last-child){
                    border-right: 1px solid #121214;
                    border-bottom: none;
                }
            }
        }
    }
    .footer-col{
        @media(max-width:500px){
            width: 100%;
        }
        .col-title {
            color: #e3e3e3;
            font-family: $seconed-font;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 20px;
        }
        .footer-list {
            .list-item {
                color: #707070;
                font-size: 14px;
                font-weight: 300;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.newsletter-col {
    .description {
        color: #707070;
    }
    .social-media {
        margin-top: 20px;
        .item {
            display: inline-block;
            margin-right: 10px;
            font-size: 18px;
            a {
                display: block;
                width: 50px;
                height: 50px;
                border: 2px solid #363636;
                border-radius: 50%;
                text-align: center;
                line-height: 50px;
                color:#fff;
                background-color: transparent;
                transition: all .25s;
                &:hover {
                    background-color: #fff;
                    color: #333;
                    border-color: #fff;
                }
            }
        }
    }
}
.copyrights-row {
    border-top: 1px solid #1d1d1d;
    padding: 40px 0;
    margin-top: 30px;
    @media(max-width:700px){
        padding: 20px 0;
    }
    .paragraph {
        display: inline-block;
        color: #707070;
        margin: 0;
        @media(max-width:700px){
            display: block;
            margin-bottom: 15px;
            text-align: center;
        }
    }
    .supported-payments {
        float: right;
        @media(max-width:700px){
            float: none;
            text-align: center;
        }
        img {
            display: inline-block;
            max-width: 100%;
        }
    }
}