input, textarea {
    padding: 10px;
    &:focus {
        outline: none;
        box-shadow: 0 0 5px 0 rgba(black, .15);
    }
}
button {
    background:none;
    border: none;
    padding: 0;
    &:focus {
        outline: none;
    }
}
.input-container {
    &:not(:last-child){
        margin-bottom: 9px;
    }
    input {
        width: 100%;
        border: 1px solid #E6E6E6;
    }
    &.icon-right {
        position: relative;
        .icon {
            position: absolute;
            right: 10px;
            top: 12px;
            color:$txt-black;
            font-size: 16px;
            z-index: 1;
        }
    }
    .line {
        background-color: transparent;
        color:$orange;
        border: 1px solid $orange-light;
        font-size: 13px;
        letter-spacing: 0.075em;
        font-weight: 500;
        transition: background-color .3s, color .3s;
        width: 100%;
        height: 45px;
        &:hover {
            background-color: $orange;
            color: #fff;
        }
    }
}


.footer-newsletter-form {
    .form-input {
        &::after {
            content: '';
            display: table;
            clear: both;
        }
        .email-btn {
            border: 2px solid #363636;
            width: 80%;
            float: left;
        }
        .submit-btn {
            background-color: #363636;
            color: $grey-red;
            border: 2px solid #363636;
            width: 20%;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            transition: opacity .2s;
            &:hover {
                opacity: 0.9;
            }
        }
    }
}