html {
    height: 100%;
}
body{
    min-height: 100%;
    overflow-y: scroll;
    font-family: $main-font;
    transition: transform .3s;
    @media(max-width:991px){
        &.is-oppened {
            transform: translateX(250px);
            overflow-y: hidden;
        }
    }
}
a {
    &, &:hover, &:focus {
        text-decoration: none;
        color: inherit;
    }
}
ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.paragraph {
    font-size: 13px;
    margin-top: 0;
}
.text-center {
    text-align: center;
}
// table
.act-table {
    display: table;
}
.act-table-cell {
    display: table-cell;
}
// vertical align
.vertical-center {
    vertical-align: middle;
}
.vertical-top {
    vertical-align: top;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.list-style {
    .ls-item {
        &:not(:last-child){
            margin-bottom: 15px;
        }
        &::before {
            content: '';
            display: inline-block;
            margin-right: 6px;

            vertical-align: middle;
            border-left: 5px solid $txt-gray-dark;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            opacity: .5;
            transition: opacity .2s;
        }
        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
}
