header {
    padding: 20px 0;
    color: $txt-gray;
    font-size: 12px;
    position: relative;
    @media(max-width:991px){
        padding-top: 50px;
    }
    .logo {
        display: inline-block;
        width: 100px;
        vertical-align: middle;
        margin-right: 20px;
    }
    .mobile-view {
        display: inline-block;
        .dropdown-links {
            display: none;
            float: right;
            .menu-btn {
                display: none;
            }
            .list {
                .list-item {
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
        @media(max-width:991px){
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            height: 35px;
            padding: 9px 15px;
            background-color: $dark-blue;
            .dropdown-links{
                display: block;
            }
        }
        @media(max-width: 500px){
            .dropdown-links {
                position: relative;
                .menu-btn {
                    display: block;
                    .btn-text {
                        display: inline-block;
                        margin-right: 5px;
                        vertical-align: top;
                    }
                }
                .list {
                    display: none;
                }
                &.active {
                    .list {
                        position: absolute;
                        top: 100%;
                        right: 0;
                        
                        display: block;
                        width: 100px;
                        padding: 5px 0;
                        border:1px solid #eee;
                        border-radius: 3px;
            
                        background-color: #f8f8f8;
                        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
                        z-index: 10;
                        .list-item {
                            display: block;
                            margin-left: 0;
                            a {
                                display: block;
                                padding: 2px 8px 1px;
                                line-height: 1;
                                &:hover {
                                    background-color: #ccc;
                                    color: #fff;
                                }
                            }
                            &.active {
                                a{
                                    background-color: #ccc;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .list-holder {
        position: relative;
        display: inline-block;
        .selected-item {
            cursor: pointer;
            .item-text {
                display: inline-block;
                vertical-align: top;
            }
            .icon {
                display: inline-block;
                vertical-align: top;
                margin-left: 10px;
            }
        }
        .list {
            position: absolute;
            top: 100%;
            left: 0;

            z-index: 2;
            min-width: 100%;
            padding: 5px 0;
            border:1px solid #eee;
            border-radius: 3px;

            background-color: #f8f8f8;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
            opacity: 0;
            visibility: hidden;
            transition: opacity .5s;
            .list-item {
                a {
                    display: block;
                    padding: 2px 8px 1px;
                    line-height: 1;
                    &:hover {
                        background-color: #ccc;
                        color: #fff;
                    }
                }
                &.active {
                    a{
                        background-color: #ccc;
                        color: #fff;
                    }
                }
            }
        }
        &.currency-dropdown, &.lang-dropdown {
            margin-right: 20px;
        }
        &:hover {
            .list {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .search {
        position: absolute;
        top: 20px;
        left: 50%;

        width: 500px;
        display: inline-block;
        margin-left: -220px;
        &.active {
            .search-form {
                display: block;
            }
        }
        .toggle-search {
            display: none;
        }
        input {
            width: 100%;
            height: 45px;
            line-height: 45px;
            border:1px solid #ccc;
            padding-right: 35px;
        }
        .submit-btn {
            position: absolute;
            top: 13px;
            right: 10px;
            color: $txt-black;
            font-size: 15px;
        }
        @media(max-width:1199px){
            width: 350px;
            margin-left: -135px;
        }
        @media(max-width:991px){
            position: relative;
            top: auto;
            left: auto;

            width: auto;
            float: right;
            margin-left: 0;
            .toggle-search {
                display: block;
                font-size: 14px;
                margin-right: 15px;
                margin-top: 18px;
            }
            .search-form {
                display: none;

                position: absolute;
                top: 100%;
                right: 0;

                width: 250px;
                margin-top: 10px;
                &::before, &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 100%;
                    right: 10px;

                    border-bottom: 10px solid #ccc;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                }
                &::after {
                    border-bottom: 10px solid #fff;
                    margin-bottom: -1px;
                }
            }
        }
        @media(max-width: 400px){
            .search-form {
                right: 50%;

                width: 220px;
                margin-right: -110px;
                &::before,&::after {
                    right: 50%;
                    margin-right: -4px;
                }
            }
        }
    }
    .category-sidebar-btn {
        @media(min-width:992px){
            display: none;
        }
        font-size: 18px;
        margin-top: 20px;
        margin-right: 15px;
        color: $txt-black;
    }
    .right-side {
        margin-top: 15px;
    }
    .signin-btn {
        display: inline-block;
        font-size: 13px;
    }
    .cart {
        display: inline-block;
        position: relative;
        padding-bottom: 15px;
        .cart-icon {
            font-size: 18px;
            color:#6a6a6a;
            margin-left: 20px;
            position: relative;
            .cart-count {
                position: absolute;
                top:-5px;
                right: -7px;
                color: $orange;
                line-height: 1;
                font-size: 12px;
                font-weight: 600;
            }
        }
        .cart-content {
            position: absolute;
            top: 100%;
            right: -30px;
            z-index: 2;

            display: none;
            width: 270px;
            padding: 10px;
            background-color: #fff;
            box-shadow: 0 0 5px 0 rgba(black, .15);
            border-radius: 3px;
            &::after, &::before{
                content: '';
                display: block;
                position: absolute;
                bottom: 100%;
                right: 25px;
                border-bottom: 10px solid #fff;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
            }
            &::before {
                margin-bottom: 1px;
                border-bottom: 10px solid rgba(black, .15);
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
            }
            .no-content {
                margin-bottom: 0;
            }
            .cart-items {
                .items-list {
                    .item {
                        width: 100%;
                        padding-bottom: 20px;
                        &:not(:last-child){
                            border-bottom: 1px solid #eee;
                            margin-bottom: 20px;
                        }
                        .item-img-cell {
                            width: 78px;
                        }
                        .item-content-cell {
                            padding-left: 10px;
                            padding-top: 10px;
                            position: relative;
                        }
                        .item-title {
                            margin-top: 0;
                            margin-bottom: 10px;

                            color: $txt-gray;
                            font-size: 13px;
                            font-weight: 400;

                            transition: color .3s;
                            &:hover {
                                color: $txt-black;
                            }
                        }
                        .paragraph {
                            color: $txt-black;
                        }
                        .close-btn {
                            position: absolute;
                            top: 5px;
                            right: 0;

                            font-size: 12px;
                            transition: color .3s;
                            &:hover {
                                color: $txt-black;
                            }
                            .icon {
                                font-size: inherit;
                            }
                        }
                        .x {
                            margin: 0 5px;
                        }
                    }
                }
            }
            .cart-footer {
                padding-top: 10px;
                .cart-total {
                    font-size: 18px;
                    font-family: $seconed-font;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                .action {
                    &:first-child {
                        padding-right: 5px;
                    }
                    .btn {
                        width: 100%;
                    }
                }
            }
        }
        &:hover {
            .cart-content{
                display: block;
            }
        }
        @media(max-width:991px){
            margin-right: 10px;
            .cart-content {
                right: -10px;
                &::after,&::before {
                    right: 5px;
                }
            }
        }
    }
    .other-links {
        .icon {
            color: $txt-black;
            font-size: 18px;
            cursor: pointer;
            margin-left: 20px;
        }
        .list {
            width: 100px;
            left: auto;
            right: -10px;
        }
        @media(max-width:991px){
            display: none;
        }
    }
    
}