.img-ratio {
    position: relative;
    overflow: hidden;
    .ratio {
        padding-top: 100%;
        &.half-square {
            padding-top: 50%;
        }
        &.cart-item {
            padding-top: 120%;
            .small-theme &{
                padding-top: 89.7%;
            }
        }
        &.main-slider-ratio {
            padding-top: 54%;
        }
        &.offer-ratio {
            padding-top: 134.5%;
        }
        &.collection-ratio {
            padding-top: 35.7%;
        }
    }
    .ratio-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            min-height: 100%;
        }
    }
}