.main-slider {
    .slider-item{
        .content{
            position: absolute;
            left: 8%;
            top: 30%;
            text-transform: uppercase;
            @media(max-width:767px){
                left: 5%;
                top: 20%;
            }
            .title {
                color: $dark-blue;
                letter-spacing: .75px;
                font-size: 26px;
                font-family: $seconed-font;
                font-weight: 400;
                margin: 0 0 40px;
                @media(max-width:767px){
                    margin-bottom: 20px;
                }
                @media(max-width:500px){
                    margin-bottom: 15px;
                    font-size: 18px;
                    br{
                        display: none;
                    }
                }
            }
            .link {
                color:$brown;
                font-size: 13px;
                font-weight: 500;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .slider-controllers {
        position: absolute;
        bottom: 30px;
        left: 8%;
        font-size: 28px;
        color: $dark-blue;
        @media(max-width:767px){
            left: 5%;
            bottom: 15px;
        }
        button {
            opacity: .65;
            transition: opacity .3s;
            &:not(:last-child){
                margin-right: 5px;
            }
            &:hover {
                opacity: 1;
            }
            &.disabled {
                opacity: 0.35;
                cursor: not-allowed;
            }
        }
    }
}