.offer-slider {
    .slider-item {
        .content {
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;

            width: 100%;
            text-align: center;
            text-transform:uppercase;
            .paragraph {
                font-family: $seconed-font;
                color: $dark-brown;
                font-weight: 400;
                font-size: 18px;
            }
            a {
                font-family: $main-font;
                color: $grey-blue;
                letter-spacing: 1px;
                font-size: 13px;
                text-decoration: underline;
                
            }
        }
    }
}