.product-card {
    .card-img{
        .main-img{
            position: relative;
            z-index: 1;
            transition: opacity .4s;
        }
        .hover-img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            z-index: 0;
            transform: scaleX(-1);
        }
        &:hover {
            cursor: pointer;
            .main-img {
                opacity: 0;
            }
        }
    }
    .card-content {
        .card-title {
            font-size: 14px;
            color: #777;
            margin-bottom: 6px;
            font-weight: 500;
        }
        .rate {
            color: #777;
        }
        .price {
            font-size: 14px;
            font-weight: 500;
            color:#272737;
            margin-top: 5px;
        }
    }
}
.feature-products,.most-wanted-section{
    position: relative;
    .product-slider,.most-wanted-slider{
        .slider-item {
            padding: 0 10px;
        }
        .slider-controllers {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 20px;
            color: $dark-blue;
            .icon {
                opacity: .65;
                transition: opacity .3s;
                &:not(:last-child){
                    margin-right: 5px;
                }
                &:hover {
                    opacity: 1;
                }
                &.disabled {
                    opacity: 0.35;
                    cursor: not-allowed;
                }
            }
        }
    }
}