.row-section {
    margin-bottom: 30px;
}
.section {
    margin-bottom: 25px;
    .section-header {
        .section-title {
            font-size: 18px;
            font-weight: 400;
            font-family: $seconed-font;
            color: $dark-blue;
            letter-spacing: 0.75px;
            margin: 0;
            margin-bottom: 10px;
        }
    }
    &.newsletter-section {
        .section-header {
            .section-description {
                color: #989898;
                font-size: 13px;
                letter-spacing: .3px;
                font-weight: 400;
            }
        }
    }
}


.collection-section {
    @media(min-width: 768px){
        .content-col {
            padding-right: 0;
        }
        .collection-container {   
                display: flex;
        }
        .collection-content {
            height: 100%;
            &::before {
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
        }
        .collection-img {
            padding-left: 0;
        }
    }
    .collection-content {
        background-color: $grey-brown;
        color:$grey-red;
        padding-top: 15px;
        padding-bottom: 15px;
        .content {
            display: inline-block;
            vertical-align: middle;
            .title {
                margin-top: 0;
                font-size: 22px;
                font-family: $seconed-font;
                font-weight: 400;
                letter-spacing: 1px;
                margin-bottom: 10px;
            }
            .price-container {
                margin-bottom: 15px;
                .price {
                    font-family: $seconed-font;
                    font-weight: 300;
                    color: #DBDBDB;
                    .new-price {
                        font-size: 20px;
                    }
                    .old-price {
                        text-decoration: line-through;
                        font-size: 15px;
                        color:#C7C5C2;
                        margin-left: 5px;
                    }
                }
            }
            .link {
                text-decoration: underline;
                font-size: 13px;
                letter-spacing: 1px;
            }
        }
    }
}




// best seller section
.best-seller-section {
    @media(min-width: 600px){
        width: 50%;
        float: left;
        &:first-child{
            padding-right: 7.5px;
        }
        &:last-child{
            padding-left: 7.5px;
        }
    }
    .product-card {
        &:not(:last-child){
            margin-bottom: 15px;
        }
        .card-img {
            display: inline-block;
            width: 97px;
            vertical-align: top;
            border: 1px solid #E6E6E6;
        }
        .card-content {
            display: inline-block;
            vertical-align: top;
            padding-top: 5px;
            padding-left: 10px;
            .card-title {
                margin-top: 0;
                margin-bottom: 5px;
                color: $grey-blue;
                font-size: 14px;
                font-weight: 500;
                font-family: $main-font;
                a{
                    color: inherit;
                }
            }
            .price {
                color: $txt-gray;
            }
        }
    }
}