.sidebar{
    background-color: $light-grey;
    padding: 20px 30px;
    .sidebar-header{
        .sidebar-title {
            margin-top: 0;
            margin-bottom: 20px;
            font-family: $seconed-font;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 18px;
        }
    }
}

/*Category Side bar*/
.category-sidebar {
    @media(max-width:991px){
        position: fixed;
        top: 0;
        bottom: 0;
        left: -250px;
        
        width: 250px;
        padding: 25px;
        background-color: $black;
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 50;
        .mobile-overlay {
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;

            background-color: rgba($black,.3);
            opacity: 0;
            visibility: hidden;
            transition: all .3s;
        }
        .sidebar-header {
            display: none;
        }
        .sidebar-body {
            .accordion {
                color: #fff;
                .accordion-header {
                    .accordion-title {
                        color: inherit;
                        font-size: 14px;
                    }
                }
                .accordion-body {
                    .list-style {
                        .ls-item {
                            &::before {
                                border-left-color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    &.active {
        .mobile-overlay {
            opacity: 1;
            visibility: visible;
        }
    }
}