.testmonial-slider {
    background-color: $light-grey;
    padding-bottom: 15px;
    .testmonial-card {
        text-align: center;
        padding: 30px 20px 20px;
        .user-img {
            width: 60px;
            margin: 0 auto 10px;
            img {
                border-radius: 50%;
            }
        }
        .user-name {
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.075em;
            color:$grey-blue;
        }
        .user-job-title {
            margin-top: 0;
            margin-bottom: 20px;
            color: $grey-blue;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.075em;
        }
        .paragraph {
            color:$light-grey-2;
            font-size: 14px;
            font-weight: 500;
        }
    }
}